
.icon-kelplat-menu:before { content: '\e803'; } /* '' */
.icon-kelplat-favorites:before { content: '\e806'; } /* '' */
.icon-kelplat-about:before { content: '\e807'; } /* '' */
.icon-kelplat-like-full:before { content: '\e808'; } /* '' */
.icon-kelplat-like-empty:before { content: '\e809'; } /* '' */
.icon-kelplat-search:before { content: '\e80a'; } /* '' */